:root {
  --logo-primary: #6611cc;
  --logo-minor: #2255ff;
}

* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #6611cc44;
}

html {
  font-size: 16px;
  max-width: 2048px;
  min-width: 1024px;
}